{% extends 'bootstrap/base.html' %}

{% block title %}
    Your 1 Million Startup
{% endblock %}

{% block navbar %}
<nav class="navbar">
  <a class="nav-item nav-link navbar-brand" href="{{ url_for('index') }}">🚀 SaaS Startup</a>
  {% if current_user.is_anonymous %}
  <div class="d-flex justify-content-end">
      <a class="nav-item nav-link text-muted" href="{{ url_for('login') }}">Login</a>
      <a class="nav-item nav-link" href="{{ url_for('register') }}">Register</a>
  </div> <!-- end d-flex -->
  {% else %}
  <div class="d-flex justify-content-end">
    <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
  </div> <!-- end d-flex -->
  {% endif %}
</nav> <!-- end navbar -->
{% endblock %}

{% block content %}
{% endblock %}
